<form method="post" action="{{ path('app_backend_produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn d-block btn-danger px-7 py-8" id="deleteButton"><i class="ti-trash"></i> Supprimer</button>
</form>
