header{
    .topBar{
        background: $couleur-principale;
        padding-top: 7px;
        padding-bottom: 7px;
        color: $couleur-tertiaire;
        transition: all .3s ease-in;

        a{
            color: $couleur-tertiaire;
            text-decoration: none;
            font-weight: 600;
            font-size: 0.9rem;

            &:hover{
                opacity: .7;
            }
        }

        .contact{
            display: flex;
            align-items: center;
            
            .support{
                padding-right: 20px;
            }

            i{
                padding-right: 5px;
                font-size: 1rem;
                font-weight: bold;
                color: $couleur-jauneorangee;
            }

            .dropdown-menu{
                border: none;
                background: $couleur-secondaire;

                a{
                    color: $couleur-principale;
                }
            }
        }

        .social-icons{
            display: flex;
            justify-content: end;

            a{
                padding-right: 15px;

                i{
                    font-size: 1.1rem;
                }

                &:hover{
                    color: $couleur-jauneorangee;
                }
            }

            form{
                padding-left: 25px;
                border-left: 1px solid $couleur-secondaire;

                select{
                    background: transparent;
                    border: none;
                    color: $couleur-tertiaire;
                    font-weight: 600;
                    cursor: pointer;

                    option{
                        cursor: pointer;
                        background: $couleur-principale;
                        border: none;
                        padding-right: 7px;

                        &::selection{
                            border: none;
                        }
                    }

                    &:checked{
                        border: none;
                    }
                }
            }
        }
    }

    .logoBar{
        background: rgba(255,255,255,0.6);
        padding-top: 10px;
        //padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        .logo{
            img{
                max-width: 100px;
            }
        }

        .recherche{
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;

            form{
                padding-top: 10px;
                display: flex;
                align-items: center;
                justify-content: baseline;
                align-content: center;
            }
        }

        .icons{
            display: flex;
            justify-content: end;
            align-items: center;
            transition: all .3s ease-in-out;

            a{
                text-decoration: none;
                color: $couleur-principale;

                i{
                    font-size: 1.7rem;
                }

                &.panier{
                    padding-left: 15px;
                    padding-right: 20px;
                }

                &:hover{
                    opacity: .7;
                }
            }
        }
    }

    .menuBar{
        background: rgba(255,255,255,0.7);
        transition: all .3s ease-in-out;

        .navbar-nav{
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-self: center;
            width: 70%;

            a{
                &.nav-link{
                    font-weight: 400;

                    &.menu-link{
                        &.active{
                            font-weight: bold;
                            color: $couleur-principale;
                        }
                    }
                }

                &:hover{
                    opacity: .7;
                }
            }
        }

        .categorie{
            .dropdown-menu{
                border: none;
                border-radius: 0;
                background: rgba(255,255,255,0.7);

                li{
                    a{
                        &:hover{
                        background: $couleur-principale;
                        color: $couleur-tertiaire;
                        }
                    }
                }
            }
        }

    }

    
}

main{
    background: rgba(255,255,255,0.6);
    .slideBar{
        .swiper {
            width: 100%;
            height: 100%;  
            transition: all .3s ease-in-out;

            &:hover{
                .swiper-button-next,
                .swiper-button-prev{
                    background: rgba(255,255,255,0.4);
                    width: 48px;
                    height: 48px;
                    border-radius: 30px;
                    color: #fff;
                }
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:hover{
                    img{
                        transform: scale(1.1) rotate(2deg);
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    //height: 100%;
                    object-fit: cover;
                    max-height: 700px;
                    overflow: hidden;
                    position: relative;
                }

                .content{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.5);
                }

                .container{
                    text-align: left;
                    margin: auto;

                    h1{
                        //position: absolute;
                        color: #fff;
                        animation: tada;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                    }
                    p{
                        //position: absolute;
                        color: #fff;
                        animation: bounceInLeft;
                        animation-duration: 3s;
                    }

                    a{
                        text-decoration: none;
                        background-color: $couleur-secondaire;
                        padding: 15px 25px;
                        color: $couleur-principale;
                        border-radius: 5px;
                        animation: heartBeat;
                        animation-duration: 3s;

                        &:hover{
                            opacity: .8;
                            color: white;
                        }
                    }
                }

            }

          }

    }

    .categorie{
        transition: all 1s ease;
        .categorie-lg{
            transition: all 1s ease;

            img{
                padding: 10px;
            }

            .card{
                transition: all 1s ease;

                &:nth-child(1),
                &:nth-child(2){
                    border-right: 0;
                }

                figure{
                    overflow: hidden;
                }

                &:hover{
                    img{
                        transform: scale(1.5) rotate(20deg);
                    }
                }

                .card-footer{
                    border-top: 0;
                    background: #fff;
                }

                a{
                    text-decoration: none;
                    color: $couleur-principale;
                    font-weight: 500;

                    &:hover{
                        opacity: .7;
                        .card-footer{
                            background: $couleur-principale;
                            color: $couleur-tertiaire;
                        }
                    }
                }
            }
        }
    }


    .article{
        transition: all .3s ease-in-out;
        a{
            text-decoration: none;

            .card{
                &.h-100{
                    border: 0;
                    border-radius: 0;
                }

                figure{
                    overflow: hidden;
                }
            }

            img{
                width: 100%;
                max-height: 357px;
                object-fit: cover;
            }

            &:hover{
                .card{
                    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
                }

                img{
                    transform: scale(1.1) rotate(5deg);
                }
            }

            .prix{
                ins{
                    text-decoration: none;
                    color: $couleur-maron;
                    font-weight: 800;
                }

                del{
                    color: #8a8585;
                    float: right;
                    font-size: 1rem;
                }
                
            }

            .description{
                padding-top: 10px;
                font-size: 1rem;
                color: #68777ad5;
            }

            .evaluations{
                color: $couleur-jauneorangee;

                span{
                    color: #8a8585;
                    font-size: 0.8rem;
                }
            }

            .sticker{
                padding: 5px 10px;
                color: white;
                position: absolute;
                font-weight: 500;
                font-size: 0.8rem;

                &.info{
                    background: $couleur-principale;
                    top: 0; left: 0;
                }

                &.remise{
                    background: #b60303;
                    top: 0; right: 0;
                }
            }
        }
    }

    .baniere{
        margin: 50px auto 100px;
        padding: 50px 0;
        transition: all .3s ease-in-out;

        .affiche{
            position: relative;

            figure{
                overflow: hidden;
                object-fit: contain;
                cursor: pointer;
            }

            &:hover{
                img{
                    transform: scale(1.1) rotate(2deg);
                }

                h3{
                    animation: zoomIn;
                    animation-duration: 500ms;
                }
            }

            .description{
                position: absolute;
                top: 0;
                padding: 15px;
                width: 60%;

                h3{
                    color: $couleur-maron;
                }

                a{
                    text-decoration: none;
                    padding: 7px 15px;
                    background: $couleur-principale;
                    color: $couleur-tertiaire;

                    &:hover{
                        opacity: .7;
                    }
                }

                .resume{
                    padding: 10px 0;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .creation{
        padding-bottom: 50px;
        transition: all 1s ease;

        .card{
            border: none;
            border-radius: 0;
            padding: 1px;
            overflow: hidden;
            cursor: pointer;

            .card-img-top{
                border: 0;
                border-radius: 0;
            }

            &:hover{
                img{
                    transform: scale(1.1) rotate(2deg);
                }
            }
        }
    }

    .boutique{
        margin-bottom: 100px;

        &.liste{
            padding-bottom: 150px;
            margin-bottom: 0;

            nav{
                margin-top: 50px;

                .page-item{
                    a{
                        color: $couleur-principale;
                    }

                    &.active{
                        a{
                            background: $couleur-principale;
                            color: $couleur-tertiaire;
                            border: solid 1px $couleur-principale;
                        }
                    }
                }

                
            }
        }
    }

    .pagination{
        margin-bottom: 30px;
        nav{
            .page-item{
                a{
                    color: $couleur-principale;
                }

                &.active{
                    .page-link{
                        background: $couleur-principale;
                        color: $couleur-tertiaire;
                        border: solid 1px $couleur-principale;
                    }
                }
            }


        }
    }

    .breadcrumb{

        nav{
            margin: 20px auto;
            background: rgba($couleur-principale, .1);
            padding: 10px 0 1px 10px;
        }

        a{
            text-decoration: none;
            color: $couleur-principale;
            font-weight: 600;

            &:hover{
                color: $couleur-jauneorangee;
            }

        }
    }

    .article-details{

        .produit-article{
            .produit-images{

                border: solid 1px #ccc;
                img{
                    width: 100%;
                    display: block;
                }

                .img-display{
                    overflow: hidden;

                    .img-showcase{
                        display: flex;
                        width: 100%;
                        transition: all .5s ease;

                        img{
                            min-width: 100%;
                            cursor: pointer;
                        }
                    }

                    .img-select{
                        display: flex;

                        .img-item{
                            margin: 0.3rem;

                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3){
                                margin-right: 0;
                            }

                            &:hover{
                                opacity: .8;
                            }
                        }
                    }

                }
            }

            .photos{
                border: solid 1px rgba($color: #ccc, $alpha:.4);

                .photo-box{
                    position: relative;
                    overflow: hidden;
                    transition: all 3s ease-in-out;
                    //height: 600px;
                    padding-bottom: 10px;
                }

                .photos-judas{
                    float: left;

                    img{
                        height: 100px;
                        margin: 10px 0;
                        cursor: pointer;
                        display: block;;
                        opacity: .6;

                        &:hover{
                            opacity: 1;
                        }
                    }
                }

                .photo-principale{
                    float: left;
                    padding: 10px;
                    cursor: pointer;

                    img{
                        //height: 450px;
                        display: flex;
                        //width: 100%;
                        position: absolute;
                    }
                }
            }
            
            .card-livraison{
                margin-left: 25px;
                border-radius: 0;
                background: inherit;

                h5{
                    padding: 7px 0;
                    text-align: center;
                    border-bottom: 1px solid #ccc;
                }

                i.bi{
                    padding-right: 7px;
                }

                .card-body{
                    h6{
                        margin-bottom: 0;
                        padding-bottom: 5px;
                        cursor: pointer;
                        transition: all 300ms linear;
                        i{
                            font-size: 1.3rem;
                            font-weight: bold;
                            color: $couleur-principale;
                            padding: 1px 5px;
                            border: solid 1px #ccc;
                            border-radius: 5px;
                        }

                        &:hover{
                            color: $couleur-principale;
                            i{
                                background: $couleur-principale;
                                color: white;
                                border: 0;
                            }
                        }

                    }

                    p{
                        font-size: 0.9rem;
                        padding-bottom: 0;
                        margin-bottom: 0;
                        padding-left: 15px;
                    }

                    a{
                        font-size: 0.9rem;
                        padding-top: 0;
                        margin-top: 0;
                        text-decoration: none;
                        font-style: italic;
                    }

                    .relais,
                    .retour{
                        margin-top: 25px;
                    }
                }
            }

            .card-avis{
                margin-left: 25px;
                margin-top: 15px;
                border-radius: 0;
                background: inherit;

                h6{
                    font-size: 1rem;
                    padding: 7px;
                    text-align: center;

                    a.etoiles{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $couleur-jauneorangee;
                        font-size: 0.8rem;
                        padding-top: 5px;
                        text-decoration: none;

                        span{
                            padding-left: 10px;
                            color: $couleur-principale;
                        }

                        &:hover{
                            opacity: .7;
                            color: $couleur-principale;
                        }

                    }
                }

                .progress{
                    margin: 5px auto;
                    cursor: pointer;

                    &:hover{
                        opacity: 0.7;
                    }

                    .progress-bar{
                        height: 7px;
                        display: flex;
                        align-items: baseline;
                    }

                    span{
                        font-size: .8rem;
                        height: 10px;
                    }
                }
            }

            .boutique{
                margin: 100px auto;
            }
        }

        .produit-description{
            h5{
                &.titre{
                    font-size: 1.3rem;
                }
            }

            .categorie{
                a{
                    text-decoration: none;
                    color: $couleur-secondaire;

                    &:hover{
                        color: $couleur-principale;
                        opacity: .7;
                    }
                }
            }

            .evaluations{
                color: $couleur-jauneorangee;
                font-size: 0.8rem;
                margin-top: 7px;

                span{
                    padding-left: 15px;
                    color: $couleur-principale;
                }
            }

            .prix{
                margin-top: 10px;

                ins{
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: $couleur-maron;
                    font-weight: 700;
                }

                del{
                    padding-left: 20px;
                    font-weight: 600;
                    color: #94abaf;
                }
            }

            .formulaire{
                margin-top: 15px;

                select{
                    border-radius: 50px;
                    padding: 0.45rem .8rem;
                    max-width: 100px;
                    text-align: center;
                }

                input{
                    padding: 0.25rem .8rem;
                    border-radius: 50px;
                    text-align: center;
                    outline: 0;
                    max-width: 80px;
                }

                button{
                    &.btn-panier{
                        background: $couleur-principale;
                        color: $couleur-tertiaire;
                        padding-left: 25px;
                        padding-right: 25px;
                        border-radius: 50px;

                        &:hover{
                            opacity: .5;
                        }
                    }
                }
            }

            .reference{
                margin: 15px auto;
                span{
                    color: $couleur-secondaire;
                    font-weight: 600;
                }
            }

            .partage{
                margin: 25px auto;
                display: flex;
                align-items: center;

                span{
                    padding-right: 15px;
                }

                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    color: $couleur-principale;
                    border: solid 1px $couleur-principale;
                    margin: 0 .2rem;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: 0.8rem;
                    transition: all .5s ease;

                    &:hover{
                        background: $couleur-principale;
                        border: transparent;
                        font-size: 1rem;
                        color: white;
                    }
                }
            }

            .description{
                margin-top: 15px;

                .accordion{
                    h2{
                        &.accordion-header{
                            background: rgba($color: $couleur-maron, $alpha:0.1);
                        }

                        button{
                            background: rgba(255,255,255,0.4);
                        }
                    }

                    .accordion-collapse{
                        background: rgba($color: $couleur-maron, $alpha: 0.1);
                    }
                }
            }
        }

    }

    .panier{
        padding-bottom: 100px;

        .card{
            border-radius: 0;
            border: solid 1px rgba($color: $couleur-secondaire, $alpha: 0.3);

            .produit{
                margin-bottom: 50px;
                padding-bottom: 25px;
                border-bottom: solid 1px rgba($couleur-principale, 0.1);
            }

            .details{
                color: rgba($color: #3b3838, $alpha: 0.7);

                &:hover{
                    color: rgba($color: $couleur-principale, $alpha: 1.0);
                }
            }

            a{
                text-decoration: none;
                color: rgba($couleur-principale, 0.8);

                &:hover{
                    color: rgba($couleur-principale, 1)
                }
            }

            .quantite{
                display: flex;
                justify-content: center;
                align-items: center;
                
                select{
                    width: 80px;
                    padding: 7px;
                    text-align: center;
                    border-radius: 50px;
                    font-weight: 700;
                    color: $couleur-principale;
                }
            }

            .derniere-ligne{
                bottom: 0;
                margin-top: 10px;
                display: flex;
                align-items: center;

                .montant{
                    font-weight: 900;
                    display: flex;
                    justify-content: center;
                    color: $couleur-maron;
                }

                .supprimer,
                .deplacer{
                    font-size: 0.9rem;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    
                    a{
                        color: #a3aca5;
                        
                        &:hover{
                            color: $couleur-principale;
                        }
                    }
                }
            }
        }

        .resume{
            transition: all 3s linear;

            .ligne{
                font-size: 0.85rem;
                margin-bottom: 15px;

                span{
                    float: right;
                    font-size: .95rem;
                    font-weight: 600;
                }
            }

            .total{
                font-size: 0.85em;
                font-weight: 800;

                span{
                    float: right;
                    font-size: 1rem;
                }
            }

            form{
                //overflow: hidden;
                //position: relative;

                .submit{
                    background: $couleur-principale;
                    padding: 5px;
                    border: 0;
                    color: $couleur-secondaire;

                    &:hover{
                        opacity: 0.8;
                    }
                }
            }

            section{
                padding-bottom: 50px;
            }

            .article{
                margin-top: 10px;
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: solid 1px rgba($color: $couleur-principale, $alpha: 0.2);

                &:nth-child(1){
                    margin-top: 0;
                    padding-top: 0;
                }

                .valeur{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span{
                        font-size: 0.9rem;
                        
                        &.montant{
                            font-weight: 700;
                            color: #807f7f;
                        }

                        &.quantite{
                            span{
                                font-weight: 700;
                                padding-left: 10px;
                                color: $couleur-principale;
                            }
                        }
                    }
                }
            }

        }

        .btn-achat{
            background: $couleur-principale;
            text-decoration: none;
            padding: 7px 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-content: center;
            width: 30%;
            color: $couleur-secondaire;
            margin-top: 25px;

            &:hover{
                opacity: 0.8;
            }
        }
    }

    .remerciement{
        padding-bottom: 100px;
        transition: all 3s ease-in-out;

        .icon{
            font-size: 2.5rem;
            color: green;
            animation: heartBeat 5s linear infinite;
        }

        .content{
            margin-bottom: 50px;
        }

        a{
            text-decoration: none;
            &.bouton-retour{
                margin-bottom: 50px;
                padding: 10px 25px;
                background: $couleur-principale;
                color: $couleur-tertiaire;

                &:hover{
                    opacity: .7;

                    i{
                        color: $couleur-jauneorangee;
                    }
                }

                i{
                    font-size: 1.5rem;
                }
            }
        }
    }

    .profile{
        padding-bottom: 100px;
        .card{
            border-radius: 0;
        }

        a{
            text-decoration: none;
        }

        .menu{
            ul{
                list-style: none;
                padding-left: 0;

                li{
                    padding: 7px 0;

                    &:hover{
                        background: rgba($color: $couleur-principale, $alpha: 0.2);
                    }
                }

                a{
                    color: #0e1f20;
                }

                i{
                    padding-right: 7px;
                }
            }
        }

        .contenu{
            margin-bottom: 100px;
            .card{
                .card-header{
                    a{
                        text-decoration: none;
                        float: right;
                        font-size: 0.9rem;
                        margin: auto 0;
                        padding-top: 7px;
                    }
                }
            }
            .form-floating{
                input{
                    //border: none;
                    border-bottom: solid 1px #ccc;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;

                    &:disabled{
                        background: inherit;
                    }
                }
            }

            table{
                a{
                    &.details{
                        font-size: 1.3rem;
                    }
                }
            }

            .envie{
                padding-bottom: 10px;
                padding-top: 15px;
                border-bottom: solid 1px rgba($couleur-principale, 0.1);
                a{
                    text-decoration: none;
                    color: $couleur-principale;
                }

                .bouton{
                    margin: auto 0;
                    padding: 10px 7px;
                    text-align: center;
                    background: rgba($couleur-principale, 1);
                    cursor: pointer;

                    a{
                        color: $couleur-tertiaire;
                    }

                    &:hover{
                        opacity: .8;
                    }
                }

                .derniere-ligne{
                    .montant{
                        span{
                            font-weight: 700;
                            color: $couleur-maron;
                        }
                    }
                }
            }

            nav{
                margin-top: 25px;

                li{
                    &.active{
                        background: $couleur-principale;

                        a{
                            background: $couleur-principale;
                            color: $couleur-tertiaire;
                            border: solid 1px $couleur-principale;
                        }
                    }
                }

                a{
                    &.page-link{
                        color: $couleur-principale;
                    }
                }
            }
        }
    }

    .contact{
        a{
            color: $couleur-maron;
            text-decoration: none;
            font-weight: bold;

            &:hover{
                color: $couleur-principale;
            }

            i{
                font-size: 1.2rem;
            }
        }

        .info-contact{
            margin-bottom: 35px;
        }

        .formulaire{
            margin-top: 100px;
        }
    }

}

footer{
    background: $couleur-principale;

    .footer{
        padding: 100px 0 20px;
        color: $couleur-secondaire;
        font-size: 0.9rem;

        .logo{
            img{
                max-width: 150px;
            }
        }
        .description{
            padding: 20px 0;
        }

        a{
            color: $couleur-secondaire;
            text-decoration: none;
        }

        ul{
            list-style-type: none;
            padding-left: 10px;
            color: $couleur-secondaire;
            text-decoration: none;
            transition: all 300ms linear;

            &.adresse{
                padding-left: 0;

                i{
                    font-weight: 700;
                    color: $couleur-jauneorangee;
                    padding-right: 7px;
                    font-size: 1.1rem;
                }
            }

            li{
                &:hover{
                    padding-left: 8px;
                }
            }
        }

        .icons-sociaux{
            margin-top: 30px;

            a{
                &:nth-child(2n){
                    padding-left: 5px;
                    padding-right: 5px;
                }

                &:hover{
                    color: $couleur-jauneorangee;
                }
            }

            i{
                font-size: 1.7rem;           
            }

            h6{
                font-weight: 800;
                color: $couleur-tertiaire;
            }
        }

        .paiement{
            margin-top: 30px;

            h6{
                font-weight: 800;
                color: $couleur-tertiaire;
            }

            img{
                max-width: 180px;
            }
        }

        .rubriques{
            margin: 20px auto;
            padding: 50px 0;
            border-top: 1px dashed rgba($color: $couleur-secondaire, $alpha: 0.4);

            ul{
                display: inline-block;
                position: relative;
                transition: all 300ms linear;

                li{
                    padding: 4px 0;

                    &:hover{
                        padding-left: 8px;

                        a{
                            color: $couleur-jauneorangee,
                        }
                    }
                }
            }
        }

        .newsletter{
            input{
                background: rgba($couleur-secondaire, 0.3);
                color: $couleur-jauneorangee;
                font-weight: bold;
            }
        }

    }

    .copyright{
        background: #0e1f20;
        color: $couleur-secondaire;
        font-size: 0.85rem;
        padding: 5px 0;

        a{
            text-decoration: none;
            color: $couleur-secondaire;
        }
    }
}

.btnToTop{
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;

     i{
        color: $couleur-secondaire;
        font-size: 2.5rem;
        font-weight: 900;

        &:hover{
            color: #0e1f20;
        }
     }
}