<form method="post" action="{{ path('app_backend_condition_retour_delete', {'id': condition_retour.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette condition?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ condition_retour.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
