{% extends 'base.html.twig' %}

{% block title %}Edit ProduitImage{% endblock %}

{% block body %}
    <h1>Edit ProduitImage</h1>

    {{ include('backend_produit_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backend_produit_image_index') }}">back to list</a>

    {{ include('backend_produit_image/_delete_form.html.twig') }}
{% endblock %}
