{% extends 'base.html.twig' %}

{% block title %}New MessageInternaute{% endblock %}

{% block body %}
    <h1>Create new MessageInternaute</h1>

    {{ include('backend_message_internaute/_form.html.twig') }}

    <a href="{{ path('app_backend_message_internaute_index') }}">back to list</a>
{% endblock %}
