<form method="post" action="{{ path('app_backend_cgu_delete', {'id': cgu.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette CGU?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cgu.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
