<form method="post" action="{{ path('app_backend_creation_delete', {'id': creation.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette image?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creation.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
