<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site en maintenance...</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('asset/css/maintenance.css')) }}">
</head>
<body>
<div class="wrapper">
    <img src="{{ absolute_url(asset('asset/img/logo_white.png')) }}" alt="" class="logo">
    <h4>
        Site en maintenance
        <span class="boule1"></span>
        <span class="boule2"></span>
        <span class="boule3"></span>
    </h4>
</div>
</body>
</html>