<form method="post" action="{{ path('app_backend_collection_delete', {'id': collection.id}) }}" id="formDelete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collection.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
